<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h2 class="text-center">Change your password</h2>

# frozen_string_literal: true
form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put })
 do |f| %>
# frozen_string_literal: true
render partial: "shared/form_errors", locals: { f: f }, resource: resource
 %>
# frozen_string_literal: true
f.hidden_field :reset_password_token
 %>

      <div class="mb-3">
# frozen_string_literal: true
f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control",
placeholder: "Password"
 %>
        <% if @minimum_password_length %>
# frozen_string_literal: true
@minimum_password_length
 %> characters minimum</small></p>
        <% end %>
      </div>

      <div class="mb-3">
# frozen_string_literal: true
f.password_field :password_confirmation, autocomplete: "off", class: "form-control",
placeholder: "Confirm Password"
 %>
      </div>

      <div class="mb-3 d-grid">
# frozen_string_literal: true
f.submit "Change my password", class: "btn btn-primary btn-lg"
 %>
      </div>
    <% end %>

    <div class="text-center">
# frozen_string_literal: true
render "devise/shared/links"
 %>
    </div>
  </div>
</div>
