<% if f.object.errors.any? %>
  <div id="form_errors" class="alert alert-danger">
    <h5>
# frozen_string_literal: true
f.object.class.name.downcase
 %> from being
      saved:
    </h5>
    <ul>
# frozen_string_literal: true
f.object.errors.full_messages.each
 do |message| %>
# frozen_string_literal: true
message
 %></li>
      <% end %>
    </ul>
  </div>
<% end %>
