@import "~bootstrap";

.product-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;

  img {
    position: absolute;
  }
}

.product-image__cart {
  img {
    width: 128px;
  }
}